$main-blue: #0d6efd;
$secundary-blue: #003869;

$black: #000;
$light-black: rgba(0, 0, 0, 0.7);
$gray: #666;
$light-gray: #cfcfce;
$very-light-gray: #f9f9f9;

$light: rgba(255,255,255,0.7);
$white: #fff;

$box-shadow: 5px 5px 20px $black;
$box-shadow-small: 0 4px 15px $light-black;