{% extends 'arctel/layout/base.html' %}

{% block content %}
<div class="" style="display:flex; justify-content:center; margin-top:25vh;">
    <form action="{% url 'backoffice' %}" method="post" class="form col-centered">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" name="email" id="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="mx-auto">
            <input type="submit" class="btn btn-primary" value="Login">
        </div>
    </form>
</div>
{% endblock %}