{% extends 'arctel/layout/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <p clss="col-12">
        A ideia de se criar um fórum permanente de troca de informação no âmbito da regulação do sector das comunicações ao nível dos Países de Expressão Portuguesa, resultou da experiência vivida ao longo dos vários encontros té cnicos da CPLP. Assim, em Outubro de 2008, as Autoridades Reguladoras Nacionais (ARN) das comunicações e telecomunicações de: Angola (Instituto Angolano das Comunicações - INACOM), Brasil (Agência Nacional de Telecomunicações - ANATEL), Cabo Verde (Agência Nacional das Comunicações - ANAC), Guiné-Bissau (Instituto das Comunicações da Guiné-Bissau - ICGB), Moçambique (Instituto Nacional das Comunicações de Moçambique - INCM), Portugal (Autoridade Nacional de Comunicações - ANACOM), São Tomé e Príncipe (Autoridade Geral de Regulação - AGER) e Timor-Leste (Autoridade Reguladora das Comunicações – ARCOM), criaram a ARCTEL-CPLP.
        Pretendia-se criar um ambiente institucional e regulatório propício ao reforço da cooperação sectorial já desenvolvida ao nível da CPLP, constituindo-se assim como um estímulo à inovação e ao desenvolvimento das comunicações nos Países envolvidos.
    </p>
    <div class="row col-12">
        <img src="{% static 'images/history/history_1.jpg' %}" class="img-fluid col-sm-12 col-md-6" alt="...">
        <img src="{% static 'images/history/history_2.jpg' %}" class="img-fluid col-sm-12 col-md-6" alt="...">
    </div>
    <p class="col-12">
        A ARCTEL-CPLP é um Fórum permanente de troca de informação e de partilha de experiências no âmbito da regulação do sector das comunicações e tem como missão reforçar os laços históricos de amizade e de cooperação existentes, o desenvolvimento de cooperação económica e empresarial entre os seus membros através da definição e concretização de projectos de interesse comum, que ajude a criar um ambiente institucional e regulatório propício ao reforço da cooperação sectorial e que seja um estímulo à inovação e ao desenvolvimento das comunicações.

        De acordo com o Memorando de Entendimento da ARCTEL-CPLP, os pressupostos da sua criação são:
    </p>
    <ul class="list-group  col-12">
        <li class="list-group-item">Promover o intercâmbio de informação no âmbito da regulação dos mercados do sector das comunicações dos seus membros; </li>
        <li class="list-group-item">Promover a adopção de melhores práticas e a harmonização da regulação dos sectores das comunicações; </li>
        <li class="list-group-item">Desenvolver estudos e adoptar posições sobre temas de interesse comum; </li>
        <li class="list-group-item">Analisar, coordenar e defender os interesses das Autoridades Reguladoras Nacionais (ARN) de língua portuguesa, procurando criar e defender posições comuns nos fora internacionais, no âmbito de suas respectivas competências; </li>
        <li class="list-group-item">Fomentar o intercâmbio de colaboradores e técnicos das diversas  ARN, bem como a realização de visitas institucionais entre os seus membros; </li>
        <li class="list-group-item">Analisar os assuntos relevantes para o desenvolvimento e universalização dos serviços de comunicações, em particular junto dos Países membros que constituíram ARN mais recentemente ou que revelem maiores carências sectoriais; </li>
        <li class="list-group-item">Promover contactos e acções de cooperação com outras organizações congéneres.  </li>
    </ul>
</div>
{% endblock %}