{% extends 'arctel/layout/base.html' %}

{% load static %}
{% block content %}
<div class="container">
    <div class="status-img-container">
        <img class="status-img" src="{% static '/images/about/status.jpg' %}" >
    </div>

    <div class="about-container-sub">
        <h4 class="status-title">Artigo Primeiro - Denominação, Natureza Jurídica, Sede e Duração </h4>
        <p class="status-list">
            <b>Um.</b> A Associação adopta a denominação de "ARCTEL - Associação de Reguladores de Comunicações e Telecomunicações da Comunidade dos Países de Língua Portuguesa", doravante designada por ARCTEL.
            <br>
            <b>Dois.</b> A ARCTEL é uma pessoa colectiva de direito privado, sem fins lucrativos, dotada de personalidade jurídica, regulando-se pelos presentes estatutos e, nos casos omissos, pela legislação portuguesa aplicável.
            <br>
            <b>Três.</b> A ARCTEL tem a sua sede na Avenida José Malhoa, número doze, (1099-017; Lisboa), freguesia de Campolide, concelho de Lisboa, podendo ser transferida para qualquer outro local mediante deliberação da Assembleia Geral.
            <br>
            <b>Quatro.</b> Sempre que se justifique, a ARCTEL poderá estabelecer delegações ou outras formas de representação em quaisquer outros locais.
            <br>
            <b>Cinco.</b> A Associação tem duração indeterminada.
            <br>
            <b>Seis.</b>Com o número de pessoa colectiva [...].
        </p>

        <h4 class="status-title">Artigo Segundo - Objecto </h4>
        <p class="status-list">
            <b>Um.</b> A Associação tem por objeto a cooperação no sector das comunicações entre os países de língua oficial portuguesa.
            <br>
            <b>Dois.</b> Para a prossecução do seu objeto a Associação deve:
            <br>
            a) Promover o intercâmbio de informação no âmbito da regulação dos mercados do sector pelos seus Associados;
            <br>
            b) Constituir um fórum consultivo e de reflexão;
            <br>
            c) Promover a adoção de melhores práticas e a harmonização da regulação do sector;
            <br>
            d) Promover a análise de questões de políticas estratégicas e regulamentares do sector;
            <br>
            e) Desenvolver estudos e adoptar posições sobre temas de interesse comum;
            <br>
            f) Analisar, coordenar e defender os interesses dos Associados, procurando criar e defender posições comuns nos fora internacionais, no âmbito das respectivas competências;
            <br>
            g) Fomentar o intercâmbio de colaboradores e técnicos dos Associados, bem como a realização de visitas institucionais entre os mesmos;
            <br>
            h) Analisar os assuntos relevantes para o desenvolvimento e universalização dos serviços de comunicações e telecomunicações, em particular junto dos Associados mais carenciados ou dos que tenham sido recentemente constituídos; e,
            <br>
            i) Promover contactos e acções de cooperação com outras organizações congéneres.
            <br>
            <b>Três.</b> Em caso algum poderá a atividade da ARCTEL colocar em causa a independência dos Associados na prossecução das suas atribuições e no exercício das suas competências, conforme estabelecido nos respectivos ordenamentos jurídicos, não havendo lugar a qualquer partilha ou delegação de competências de regulação.
        </p>

        <h4 class="status-title">Artigo Terceiro - Regime Financeiro</h4>
        <p class="status-list">
            <b>Um.</b> A ARCTEL tem plena autonomia patrimonial e financeira, consistindo as suas receitas em:
            <br>
            a) joias e quotas pagas pelos Associados;
            <br>
            b) participações dos Associados nos fundos associativos que venham a ser criados;
            <br>
            c) subsídios, heranças, legados ou doações de que a ARCTEL venha a ser destinatária;
            <br>
            d) outras receitas ou rendimentos permitidos por lei.
            <br>
            <b>Dois.</b> As receitas da Associação só podem ser utilizadas para os fins referidos nos presentes estatutos, nomeadamente o funcionamento da Associação, pagamentos relativos a trabalhadores contratados, material, serviços e outros encargos necessários à instalação.
        </p>

        <h4 class="status-title">Artigo Quarto - Associados, Admissão, Saída e Exclusão</h4>
        <p class="status-list">
            <b>Um.</b> São Associados da ARCTEL as Entidades Reguladoras de cada membro da CPLP.
            <br>
            <b>Dois.</b> Existe apenas uma categoria de Associados.
            <br>
            <b>Três.</b> Podem ser admitidos como Associados novos membros, desde que requeiram a sua admissão como Associado e cumpram com os requisitos e obrigações.
            <br>
            <b>Quatro.</b> A admissão como Associado depende de aprovação pela Assembleia Geral.
            <br>
            <b>Cinco.</b> Perde-se a qualidade de Associado nas seguintes situações:
            <br>
            a) Com a saída voluntária do Associado, com efeitos a partir do fim do ano civil em curso, mediante o envio de comunicação escrita à Direção com uma antecedência mínima de trinta dias;
            <br>
            b) Com a dissolução do Associado;
            <br>
            c) Através de exclusão, mediante comunicação escrita com efeito imediato, determinada pela Assembleia Geral quando o Associado não cumpra os deveres previstos nestes Estatutos ou prejudique os objetivos e interesses da ARCTEL, praticando atos contrários aos respectivos fins.
            <br>
            <b>Seis.</b> Os Associados poderão ser suspensos do seu direito de voto, bem como dos direitos previstos nas alíneas b), c), e e) do art. 5º, por determinação da Assembleia Geral após o terceiro aviso de falta de pagamento das quotas.
            <br>
            <b>Sete.</b> Nos termos legais, os Associados que deixem de pertencer à ARCTEL não têm o direito de reembolso de contribuições financeiras que já tenham efectuado, perdendo ainda o direito ao património social, sem prejuízo da sua responsabilidade por todas as prestações relativas ao tempo em que foram Associados.
            <br>
            <b>Oito.</b> A representação de cada Associado é exercida pela respectiva Autoridade máxima sem prejuízo de eventual delegação dos poderes de representação.
            <br>
            <b>Nove.</b> Cada Associado participa na Associação apenas nas atividades para as quais tenha competências e em consonância com as respectivas competências legais.
        </p>

        <h4 class="status-title">Artigo Quinto - Direitos dos Associados </h4>
        <p class="status-list">
            <b>Um.</b> Constituem direitos dos Associados:
            <br>
            a) Participar e votar em todas as Assembleias Gerais;
            <br>
            b) Propor ou propor-se para qualquer cargo dos órgãos associativos;
            <br>
            c) Requerer a convocação extraordinária da Assembleia Geral, nos termos dos presentes estatutos;
            <br>
            d) Apresentar projectos e propostas de atividades;
            <br>
            e) Usufruir e participar em todas as iniciativas e benefícios promovidos pela Associação;
            <br>
            f) Exercer os demais direitos conferidos pela lei, pelos presentes estatutos, pelas deliberações da Assembleia Geral e por regulamentos internos da ARCTEL.
            <br>
            g) Ser devidamente informados sobre as atividades da Associação;
            <br>
            h) Apresentar sugestões relativas a matérias do interesse da Associação;
            <br>
            i) Examinar os livros, relatórios, contas e demais documentos.
        </p>

        <h4 class="status-title">Artigo Sexto - Deveres dos Associados </h4>
        <p class="status-list">
            Sem prejuízo do disposto no número dois do Artigo Segundo destes Estatutos, constituem deveres dos Associados:
            <br>
            a) Contribuir para a prossecução do fim da ARCTEL e prestar o apoio necessário ao exercício da sua atividade;
            <br>
            b) Comparecer às reuniões da Assembleia Geral e outras para as quais sejam convocados;
            <br>
            c) Exercer os cargos para que forem eleitos ou designados, salvo motivo devidamente justificado;
            <br>
            d) Cumprir os estatutos, as deliberações da Assembleia Geral e os regulamentos internos da ARCTEL;
            <br>
            e) Prestar obrigatoriamente todas as informações e fornecer todos os elementos que lhes forem solicitados para a realização dos fins estatutários.
        </p>

        <h4 class="status-title">Artigo Sétimo - Órgãos da Associação </h4>
        <p class="status-list">
            <b>Um.</b> Os órgãos da Associação são:
            <br>
            a) a Assembleia Geral;
            <br>
            b) a Direcção;
            <br>
            c) o Conselho Fiscal;
            <br>
            d) Secretariado
            <br>
            <b>Dois.</b> Os titulares dos órgãos da Associação serão eleitos ou designados pela
            Assembleia Geral, mediante propostas apresentadas pela Direção ou por grupos de pelo
            menos dois Associados.
        </p>

        <h4 class="status-title">Artigo Oitavo -  Assembleia Geral </h4>
        <p class="status-list">
            <b>Um.</b> A Assembleia Geral é o órgão máximo da Associação sendo constituída por todos os Associados no pleno gozo dos seus direitos e dirigida pela Mesa da Assembleia Geral.
            <br>
            <b>Dois.</b> Podem participar na Assembleia Geral, apenas como observadores e sem direito de voto, outras entidades convidadas, desde que autorizadas pela própria Assembleia Geral.
            <br>
            <b>Três.</b> A mesa da Assembleia Geral será composta por um Presidente e um VicePresidente, eleitos por períodos de dois anos.
            <br>
            <b>Quatro.</b> A Assembleia Geral reunirá ordinariamente no primeiro trimestre de cada ano para aprovação do relatório e contas do exercício anterior e para apreciação e votação do orçamento e do plano de atividades para o ano em curso, mediante propostas da Direção e extraordinariamente sempre que convocada pelo presidente da mesa da Assembleia Geral, a pedido da Direção ou a requerimento de, pelo menos, um terço dos Associados.
            <br>
            <b>Cinco.</b> As convocatórias para as reuniões da Assembleia Geral serão efectuadas por aviso postal expedido para cada um dos Associados ou mediante publicação do respectivo aviso, nos termos previstos para os actos das sociedades comerciais ou outro meio que venha a ser admitido por lei, com uma antecedência mínima de trinta dias, devendo conter informação simultânea do dia, hora, local e ordem de trabalhos da reunião.
            <br>
            <b>Seis.</b> Se à hora marcada para a realização da Assembleia Geral não estiverem presentes mais de metade dos Associados, proceder-se-á meia hora depois a nova contagem do quórum, devendo então realizar-se a Assembleia Geral, desde que estejam presentes pelo menos metade dos Associados.
            <br>
            <b>Sete.</b> Sem prejuízo do disposto nos números seguintes, as deliberações da Assembleia Geral serão tomadas por maioria absoluta de votos dos Associados presentes.
            <br>
            <b>Oito.</b> As deliberações sobre as matérias referidas nas alíneas e) à excepção das deliberações sobre a dissolução da Associação, h) e i) do artigo nono dos estatutos da Associação terão que ser tomadas com o voto favorável de três quartos do número dos Associados presentes.
            <br>
            <b>Nove.</b> As deliberações sobre a dissolução ou prorrogação da Associação requerem o voto favorável de três quartos do número de todos os Associados.
            <br>
            <b>Dez.</b> As deliberações sobre a admissão de novos Associados requerem a unanimidade de todos os Associados.
            <br>
            <b>Onze.</b> De todas as reuniões da Assembleia Geral será elaborada uma acta, que será assinada pelo Presidente, pelo Vice-Presidente e Associados presentes.
        </p>

        <h4 class="status-title">Artigo Nono - Competência da Assembleia Geral </h4>
        <p class="status-list">
            Compete à Assembleia Geral deliberar sobre as matérias que não estejam compreendidas nas atribuições legais ou estatutárias de outros órgãos da Associação e designadamente:
            <br>
            a) Definir as linhas fundamentais de actuação da Associação;
            <br>
            b) Eleger e destituir, por votação secreta, os membros da respectiva Mesa, da Direcção e do Conselho Fiscal;
            <br>
            c) Apreciar e votar anualmente o orçamento e o Plano de Atividades para o exercício seguinte, bem como o Relatório e Contas do exercício anterior apresentado pela Direção;
            <br>
            d) Deliberar sobre a aquisição onerosa e a alienação, a qualquer título, de bens imóveis e de outros bens patrimoniais de rendimento ou de valor histórico ou artístico;
            <br>
            e) Deliberar sobre a alteração dos estatutos e sobre a cisão, fusão e dissolução da Associação, bem como sobre o destino dos seus bens;
            <br>
            f) Deliberar sobre formas de financiamento externo da Associação, com excepção de empréstimos bancários ou obrigacionistas;
            <br>
            g) Fixar, regulamentar e alterar quotas, joias e fundos associativos;
            <br>
            h) Autorizar a Associação a demandar os titulares dos órgãos sociais por factos praticados no exercício das suas funções;
            <br>
            i) Aprovar a adesão a uniões, federações ou confederações;
            <br>
            j) Aprovar e alterar Regulamentos Internos;
            <br>
            l) Exercer as demais competências que lhe sejam atribuídas por lei ou pelos presentes Estatutos ou por regulamentos internos da Associação;
            <br>
            m) Deliberar sobre propostas de alteração à organização interna da Associação, elaborar regulamentos, criar comissões que entenda necessárias e preenchendo os respetivos lugares;
            <br>
            n) Aprovar, sempre que se justifique, delegações ou outras formas de representação da Associação em qualquer outro local.
        </p>

        <h4 class="status-title">Artigo Décimo - Grupos de Trabalho e Terceiras Entidades</h4>
        <p class="status-list">
            <b>Um.</b> A Assembleia Geral pode constituir grupos de trabalho "ad hoc" para análise de matérias específicas, formados, no mínimo, por três Associados e coordenados e apoiados pelo Secretariado e respondendo à Assembleia Geral pelo trabalho efetuado.
            <br>
            <b>Dois.</b> Os grupos de trabalho realizarão as acções, estudos ou relatórios, tendo em consideração as opiniões recolhidas junto dos Associados e as instruções que, eventualmente, tenham recebido da Assembleia-Geral.
            <br>
            <b>Três.</b> A Assembleia Geral pode ainda admitir ou convidar terceiras entidades a participar nos fins da Associação, tal como indicado no Artigo Segundo dos presentes Estatutos.
        </p>

        <h4 class="status-title">Artigo Décimo Primeiro - Direção </h4>
        <p class="status-list">
            <b>Um.</b> A Direção é constituída por um Presidente e dois Vogais, com um mandato de dois anos.
            <br>
            <b>Dois.</b> A designação da Direção deverá obedecer, para cada membro, a uma rotatividade por ordem alfabética em razão da denominação dos países membros dos Associados, nos termos do Regulamento Interno.
            <br>
            <b>Três.</b> A Direção é convocada pelo respectivo presidente, só podendo deliberar com a presença da maioria dos seus titulares, sendo as deliberações tomadas por maioria de votos dos titulares presentes, tendo o Presidente, além do seu voto, direito a voto de desempate.
            <br>
            <b>Quatro.</b> Na ausência ou impedimento do Presidente, o mesmo será substituído pelo Vogal da Direção determinado por ordem inversa à alfabética em razão da denominação dos respectivos países membros.
            <br>
            <b>Cinco.</b> Se um dos membros da Direção abandonar o seu cargo antes da data prevista, a Assembleia Geral designará, por maioria de votos, um outro Associado para o substituir.
            <br>
            <b>Seis.</b> A Direção pode atribuir a um ou mais membros, competência para a prática de determinados actos específicos.
        </p>

        <h4 class="status-title">Artigo Décimo Segundo - Competências da Direção </h4>
        <p class="status-list">
            Compete à Direção gerir a Associação e nomeadamente:
            <br>
            a) Representá-la em juízo e perante terceiros;
            <br>
            b) Cumprir as disposições estatutárias, as deliberações da Assembleia Geral e os regulamentos internos da ARCTEL;
            <br>
            c) Elaborar o relatório, balanço e contas do exercício, o orçamento e o plano anual de actividades;
            <br>
            d) Submeter à apreciação e deliberação da Assembleia Geral os documentos previstos na alínea anterior, bem como apresentar as propostas que julgue convenientes, devendo o relatório de contas da Direção e o orçamento e o Plano de Atividades para o ano seguinte serem previamente submetidos ao parecer do Conselho Fiscal;
            <br>
            e) Propor regras para determinação do valor das quotas e das joias a pagar pelos Associados;
            <br>
            f) Constituir um Fórum de discussão interna da Associação exclusivo dos Associados onde cada Associado poderá expor questões técnicas devendo os outros Associados contribuir com respostas e comentários no âmbito das competências de cada um;
            <br>
            g) Atribuir tarefas e constituir grupos de trabalho , para os quais pode requerer a participação dos Associados;
            <br>
            h) Estruturar os serviços da Associação, admitir pessoal a título permanente ou eventual e contratar a prestação de serviços de quaisquer pessoas ou entidades, cuja colaboração repute necessárias sempre nos termos do Plano de Atividades e Orçamento aprovados;
            <br>
            i) Propor a organização interna da Associação, elaborando regulamentos, criando as comissões que entenda necessárias e preenchendo os respectivos lugares;
            <br>
            j) Propor , sempre que se justifique, delegações ou outras formas de representação da Associação em qualquer outro local;
            <br>
            k) Cooperar  com outras Associações congéneres;
            <br>
            l) Exercer as demais competências previstas na lei e nos presentes estatutos ou aquelas que lhes venham a ser atribuídas por deliberação da Assembleia Geral;
            <br>
            m) Garantir a emissão de um boletim informativo, periódico, a distribuir aos Associados;
            <br>
            n) Assegurar a representação externa da Associação, solicitando sempre que necessário a colaboração dos Associados.

        </p>

        <h4 class="status-title">Artigo Décimo Terceiro - Secretariado </h4>
        <p class="status-list">
            O Secretariado presta apoio técnico e administrativo a todos os órgãos da Associação, sendo designado pela Assembleia Geral, de entre os Associados, por um período de dois anos, sob proposta da Direção ou de um grupo de Associados.
        </p>

        <h4 class="status-title">Artigo Décimo quarto - Competências do Secretariado</h4>
        <p class="status-list">
            São competências do Secretariado:
            <br>
            a) Coordenar e apoiar administrativamente as deliberações da Direção e as deliberações da Assembleia, apoiando, em geral, as actividades que desenvolvam os órgãos da Associação;
            <br>
            b) Arquivar todos os documentos relativos à actividade da Associação;
            <br>
            c) Gerir apágina web da Associação;
            <br>
            d) Coordenar e apoiar administrativamente as actuações dos grupos de trabalho;
            <br>
            e) Execução das restantes tarefas técnicas e administrativas de suporte à atividade da Associação;
            <br>
            f) Representar a Associação nos termos das competências que lhe forem atribuídas pela Direção.
        </p>

        <h4 class="status-title">Artigo Décimo Quinto - Representação da Associação</h4>
        <p class="status-list">
            A Associação obriga-se:
            <br>
            Pela assinatura conjunta do Presidente da Direcção e de pelo menos um membro daDireção.
        </p>

        <h4 class="status-title">Artigo Décimo Sexto - Conselho Fiscal</h4>
        <p class="status-list">
            <b>Um.</b> O Conselho Fiscal será eleito de entre os Associados não pertencentes à Direção, por períodos de dois anos, sendo constituído por um Presidente e dois Vogais, tendo o Presidente voto de desempate nas respectivas deliberações.
            <br>
            <b>Dois.</b> O Conselho Fiscal é convocado pelo respectivo Presidente, só podendo deliberar com a presença da maioria dos seus titulares, sendo as deliberações tomadas por maioria dos votos dos titulares presentes, tendo o presidente, além do seu voto, direito a voto de desempate.
        </p>

        <h4 class="status-title">Artigo Décimo Sétimo - Competência do Conselho Fiscal </h4>
        <p class="status-list">
            Compete ao Conselho Fiscal fiscalizar a gestão da Associação, e nomeadamente:
            <br>
            a) Examinar e emitir parecer sobre o relatório, balanço e contas do exercício, bem como sobre o orçamento e o plano anual de atividades, a aprovar pela Assembleia Geral;
            <br>
            b) Assistir às reuniões da Direção sempre que o julgue conveniente ou para isso seja solicitado pelo Presidente da Direção;
            <br>
            c) Dar parecer à Direcção sobre qualquer consulta que esta lhe apresente;
            <br>
            d) Exercer a fiscalização sobre a escrituração e documentos da Associação, sempre que o julgue conveniente.

        </p>

        <h4 class="status-title">Artigo Décimo Oitavo - Sigilo</h4>
        <p class="status-list">
            <b>Um.</b> Os Associados e os titulares dos órgãos da ARCTEL devem guardar sigilo sobre os factos e informações reservadas à Associação cujo conhecimento lhes advenha do exercício das suas funções;
            <br>
            <b>Dois.</b> O dever de sigilo previsto no presente artigo deverá ser estendido a quaisquer trabalhadores, prestadores de serviço, fornecedores de bens ou outros, devendo os contratos ou acordos celebrados entre os mesmos e a ARCTEL prever os respectivos termos.
        </p>


        <h4 class="status-title">Artigo Décimo Nono - Dissolução da Associação</h4>
        <p class="status-list">
            <b>Um.</b> A Associação só pode ser dissolvida mediante deliberação da Assembleia Geral nos termos dos presentes estatutos.
            <br>
            <b>Dois.</b> Compete à Assembleia Geral que delibere a dissolução, decidir sobre o destino a dar aos bens da Associação, sem prejuízo do disposto no artigo 166º do Código Civil Português.
        </p>

        <h4 class="status-title">Artigo Vigésimo - Associados Iniciais </h4>
        <p class="status-list">
            São Associados iniciais da ARCTEL:
            <br>
            a) Autoridade Geral de Regulação (AGER)
            <br>
            b) Agência Nacional das Comunicações (ANAC)
            <br>
            c) ICP-Autoridade Nacional de Comunicações (ICP-ANACOM)
            <br>
            d) Agência Nacional de Telecomunicações (ANATEL)
            <br>
            e) Autoridade Nacional das Comunicações (ANC)
            <br>
            f) Autoridade Reguladora Nacional das Tecnologias de Informação e Comunicação (ARN-TIC)
            <br>
            g) Instituto Angolano das Comunicações (INACOM)
            <br>
            h) Instituto Nacional das Comunicações de Moçambique (INCM)
        </p>
    </div>
</div>
{% endblock %}